.app{
    height: 100vh;
    overflow-y: scroll;
}
.app::-webkit-scrollbar{
    display: none;
  }
.Countries{
    margin: 20px 70px;
}
#light{
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
    transition: background-color 0.4s;
}
#dark{
    background-color: var(--Very-Dark-Blue);
    color: var(--Very-Light-Gray);
    transition: background-color 0.4s;
}