  .country-container{
    margin-top: 30px;
    text-decoration: none;
    height: 100vh;
    overflow: scroll;
    /* margin: 0 30px; */
  }
  .country-container::-webkit-scrollbar{
    display: none;
  }
.country-upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
  .country-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 40px;
    justify-content: center;
  }
  
  .country-card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    width: 250px;
    height: fit-content;
    background-color: #2b3743;
    border-radius: 5px;
    /* transition: background-color 0.4s; */
  }
  .flag{
    width: 100%;
  overflow: hidden;
  height: 10rem;
  }
  #light .country-card{
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
}
#dark .country-card{
    color: var(--Very-Light-Gray);
}
#light .link{
  color: var(--Very-Dark-Blue);
}
#dark .link{
  color: var(--Very-Light-Gray);
}
  .link{
    color: #fff;
    text-decoration: none;
  }
  
  .flag img {
    border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .country-details {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .country-card.light-theme{
    background-color: var(--Very-Light-Gray);
  }
  .country-card.light-theme .link{
    color: var(--Very-Dark-Blue);
  }
  
  .country-details h2 {
    margin-bottom: 5px;
    font-weight: 700;
  }

  
  .country-details p {
    margin: 0;
    text-decoration: none;
  } 

  .loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 180px;
  }
  @media(min-width: 640px){
    .country-grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media(min-width: 768px){
    .country-grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media(min-width: 992px){
    .country-grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media only screen and (max-width: 768px) {
    .country-upper {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 480px) {
    .country-upper {
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
    }
  }