.filter select{
    width: 150px;
    padding: 15px;
    background-color: #2b3743;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#light .filter select{
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
}
#dark .filter select{
    color: var(--Very-Light-Gray);
}

@media only screen and (max-width: 480px) {
    .filter{      
        margin-top: 20px;
    }
    .filter select{
        width: 145px;
    }
  }
  @media only screen and (max-width: 768px) {
    .filter{      
        margin-top: 20px;
    }
  }