*{
  margin: 0;
  font-family: "Nunito Sans"
}
body{
  background-color: #202D36;
  color: #fff;
  height: 100vh;
}
body.light-theme{
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
}
:root{
--Dark-Blue: hsl(209, 23%, 22%);
--Very-Dark-Blue: hsl(207, 26%, 17%);
--Dark-Gray: hsl(0, 0%, 52%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%)
}